<header>
  <img alt="" class="userpic" src="../../assets/userpic.png">

  <div class="info">
    <p class="name">Alice Kaplan</p>
    <p class="position">UI/UX designer</p>

    <div class="personal-info">
      <div class="location">
        <span class="iconify" data-icon="carbon:location" data-inline="false" style="color: #ffffff;"></span>
        <p>Lodz, Poland</p>
      </div>

      <div class="email">
        <span class="iconify" data-icon="feather:mail" data-inline="false" style="color: #ffffff;"></span>
        <p>alicethecat@gmail.com</p>
      </div>

      <div class="phone">
        <span class="iconify" data-icon="clarity:phone-handset-line" data-inline="false" style="color: #ffffff;"></span>
        <p>+48 999 44 432</p>
      </div>
    </div>
  </div>
</header>

<main>
  <p class="title">Favorite</p>

  <div class="vacancies-container">
    <div class="vacancies">
      <div class="vacancy-container">
        <div class="vacancy">
          <img alt="" src="../../assets/vacancyLogo.svg">

          <div class="info">
            <p class="title">UX/UI senior designer</p>
            <p class="company-name">Hycom</p>

            <div class="bottom">

              <div class="vacancy-description">
                <div class="description">
                  <span class="iconify" data-icon="carbon:location" data-inline="false"></span>
                  <p>lodz</p>
                </div>

                <div class="description">
                  <span class="iconify" data-icon="bi:bar-chart-line" data-inline="false"></span>
                  <p>Senior</p>
                </div>

                <div class="description">
                  <span class="iconify" data-icon="ant-design:field-time-outlined" data-inline="false"></span>
                  <p>Full time</p>
                </div>
              </div>

              <p class="expiry-time">June 18,2020</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
