$dark-blue: #0A1E51;
$bright-blue: #83A8DE;
$soft-grey: #949494;
$light-grey: #F4F4F4;
$dark-grey: #757575;
$error-color: #FF0000;
$primary-font: 'Noto Sans', sans-serif;
$loader-base-color: #F4F4F4;
$loader-shine-color: rgba(229,229,229,0.8);
$loader-animation-duration: 1.5s;
