<form (ngSubmit)="onSubmit()" [formGroup]="form" class="register-form">
  <p class="form-title">Create account</p>

  <div class="fullName">
    <div class="form-control">
      <input
        [ngClass]="{invalid: form.get('firstName').invalid && form.get('firstName').touched}"
        formControlName="firstName"
        id="first-name"
        placeholder="First name"
        type="text">
      <label [ngClass]="{'label-animate': !canAnimate}" for="first-name">First name</label>
      <div *ngFor="let error of errorMessages.firsName" class="error-messages">
        <p
          *ngIf="form.get('firstName').hasError(error.type) && form.get('firstName').touched"
          class="error-message"
        >
          {{error.message}}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        [ngClass]="{invalid: form.get('lastName').invalid && form.get('lastName').touched}"
        formControlName="lastName"
        id="last-name"
        placeholder="Last name"
        type="text">
      <label [ngClass]="{'label-animate': !canAnimate}" for="last-name">Second name</label>
      <div *ngFor="let error of errorMessages.lastName" class="error-messages">
        <p
          *ngIf="form.get('lastName').hasError(error.type) && form.get('lastName').touched"
          class="error-message"
        >
          {{error.message}}
        </p>
      </div>
    </div>
  </div>

  <div class="form-control">
    <input
      [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}"
      formControlName="email"
      id="email"
      placeholder="Email"
      type="email">
    <label [ngClass]="{'label-animate': !canAnimate}" for="email">Email</label>
    <div *ngFor="let error of errorMessages.email" class="error-messages">
      <p
        *ngIf="form.get('email').hasError(error.type) && form.get('email').touched"
        class="error-message"
      >
        {{error.message}}
      </p>
    </div>
  </div>

  <div class="address">
    <div class="form-control">
      <input
        (blur)="toggleListDisplay(false, 'countries')"
        (focus)="toggleListDisplay(true, 'countries')"
        (input)="getFilteredList('countries')"
        [(ngModel)]="countriesInputItem"
        [ngClass]="{invalid: form.get('country').invalid && form.get('country').touched}"
        autocomplete="none"
        formControlName="country"
        id="country"
        placeholder="Country"
        type="text">
      <label [ngClass]="{'label-animate': !canAnimate}" for="country">Country</label>
      <div *ngIf="!countriesListHidden && !countriesShowError" class="options">
        <div
          (click)="selectItem(i, true, 'countries')"
          (mouseenter)="selectItem(i, false, 'countries')"
          *ngFor="let item of countriesFilteredList;let i = index"
          class="item"
        >
          <p>{{item}}</p>
        </div>
      </div>

      <div *ngIf="!countriesListHidden && countriesShowError" class="options">
        <div class="error">
          <p>Not found</p>
        </div>
      </div>

      <div *ngFor="let error of errorMessages.country" class="error-messages">
        <p
          *ngIf="form.get('country').hasError(error.type) && form.get('country').touched"
          class="error-message"
        >
          {{error.message}}
        </p>
      </div>
    </div>

    <div class="form-control">
      <input
        (blur)="toggleListDisplay(false, 'cities')"
        (focus)="toggleListDisplay(true, 'cities')"
        (input)="getFilteredList('cities')"
        [(ngModel)]="citiesInputItem"
        [ngClass]="{invalid: form.get('city').invalid && form.get('city').touched}"
        autocomplete="none"
        formControlName="city"
        id="city"
        placeholder="City"
        type="text">
      <label [ngClass]="{'label-animate': !canAnimate}" for="city">City</label>
      <div *ngIf="!citiesListHidden && !citiesShowError" class="options">
        <div
          (click)="selectItem(i, true, 'cities')"
          (mouseenter)="selectItem(i,  false, 'cities')"
          *ngFor="let item of citiesFilteredList;let i = index"
          class="item"
        >
          <p>{{item}}</p>
        </div>
      </div>

      <div *ngIf="!citiesListHidden && citiesShowError" class="options">
        <div class="error">
          <p>Not found</p>
        </div>
      </div>

      <div *ngFor="let error of errorMessages.city" class="error-messages">
        <p
          *ngIf="form.get('city').hasError(error.type) && form.get('city').touched"
          class="error-message"
        >
          {{error.message}}
        </p>
      </div>
    </div>

  </div>

  <div class="form-control">
    <input
      [ngClass]="{invalid: form.get('phone').invalid && form.get('phone').touched}"
      formControlName="phone"
      id="phone"
      placeholder="Phone"
      type="tel">
    <label [ngClass]="{'label-animate': !canAnimate}" for="phone">Phone</label>
    <div *ngFor="let error of errorMessages.phone" class="error-messages">
      <p
        *ngIf="form.get('phone').hasError(error.type) && form.get('phone').touched"
        class="error-message"
      >
        {{error.message}}
      </p>
    </div>
  </div>

  <div class="form-control">
    <input
      [ngClass]="{invalid: form.get('password').invalid && form.get('password').touched }"
      formControlName="password"
      id="password"
      placeholder="Password"
      type="password">
    <label [ngClass]="{'label-animate': !canAnimate}" for="password">Password</label>
    <div *ngFor="let error of errorMessages.password" class="error-messages">
      <p
        *ngIf="form.get('password').hasError(error.type) && form.get('password').touched"
        class="error-message"
      >
        {{error.message}}
      </p>
    </div>
  </div>


  <div class="form-control">
    <input
      [ngClass]="{invalid: form.get('confirmPassword').invalid && form.get('confirmPassword').touched}"
      formControlName="confirmPassword"
      id="confirm-password"
      placeholder="Confirm password"
      type="password">
    <label [ngClass]="{'label-animate': !canAnimate}" for="confirm-password">Confirm password</label>
    <div *ngFor="let error of errorMessages.confirmPassword" class="error-messages">
      <p
        *ngIf="form.get('confirmPassword').hasError(error.type) && form.get('confirmPassword').touched"
        class="error-message"
      >
        {{error.message}}
      </p>
    </div>
  </div>

  <button [disabled]="form.invalid" class="confirm-btn" type="submit">Create</button>
</form>



