<main>
  <div class="search-container">
    <div class="background">
      <p>Find your dream job</p>
    </div>

    <div [formGroup]="form" class="search">
      <div class="vacancy-search-container">
        <span class="iconify" data-icon="eva:search-outline" data-inline="false"></span>
        <input
          [(ngModel)]="searchInputItem"
          class="vacancy-search"
          formControlName="searchInput"
          placeholder="Search for job Posting"
          type="text">

        <div
          (click)="clearVacanciesInput()"
          [ngClass]="{visible: form.get('searchInput').value}"
          class="clear-vacancies-input"></div>
      </div>

      <div class="location-container">
        <div class="location-search-container">
          <span class="iconify location-icon" data-icon="carbon:location" data-inline="false"></span>
          <input
            #locationInput
            (blur)="toggleListDisplay(false)"
            (focus)="toggleListDisplay(true)"
            (input)="getFilteredList()"
            [(ngModel)]="locationsInputItem"
            class="location-search"
            formControlName="locationInput"
            placeholder="Set Location"
            type="text">
          <div
            (click)="focusLocation()"
            [ngStyle]="{'transform': locationsListHidden ? 'rotateX(0)': 'rotateX(180deg)'}"
            class="arrow-container">
             <span
               class="iconify"
               data-icon="eva:arrow-ios-downward-outline"
               data-inline="false"></span>
          </div>

          <div
            (click)="clearLocationInput()"
            [ngClass]="{visible: form.get('locationInput').value}"
            class="clear-location-input"
          ></div>

        </div>

        <div *ngIf="!locationsListHidden && !locationsShowError" class="options">
          <div
            (click)="selectItem(i, true)"
            (mouseenter)="selectItem(i, false)"
            *ngFor="let item of locationsFilteredList;let i = index"
            class="item"
          >
            <p>{{item}}</p>
          </div>
        </div>

        <button
          (click)="search()"
          [disabled]="!form.get('searchInput').value && !form.get('locationInput').value"
          class="btn"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="vacancies-container">
    <div class="vacancies">
      <div *ngIf="showLoader" class="loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="vacancy-container">

        <div *ngFor="let vacancy of vacancies; let idx = index" class="vacancy">
          <img alt="" src="../../assets/vacancyLogo.svg">

          <div class="vacancy-info">
            <div class="top">
              <a [routerLink]="['/vacancy/' + vacancy._id]" class="vacancy-title">{{vacancy.title}}</a>


              <div *ngIf="canShowStars" (click)="favorite(vacancy._id)" class="favorite">
                <div *ngIf="!favoriteList.includes(vacancy._id)">
                  <span
                    class="iconify"
                    data-icon="ant-design:star-outlined"
                    data-inline="false"
                  ></span>
                </div>

                <div *ngIf="favoriteList.includes(vacancy._id)">
                    <span
                      class="iconify"
                      data-icon="ant-design:star-filled"
                      data-inline="false"
                    ></span>
                  </div>

              </div>
            </div>

            <div class="middle">
              <p class="company-name">{{vacancy.companyName}}</p>
            </div>

            <div class="bottom">
              <div class="vacancy-description">
                <div class="description">
                  <span class="iconify" data-icon="carbon:location" data-inline="false"></span>
                  <p>{{vacancy.location}}</p>
                </div>

                <div class="description">
                  <span class="iconify" data-icon="bi:bar-chart-line" data-inline="false"></span>
                  <p>{{vacancy.experience}}</p>
                </div>

                <div class="description">
                  <span class="iconify" data-icon="ant-design:field-time-outlined" data-inline="false"></span>
                  <p>{{vacancy.workTime}}</p>
                </div>
              </div>

              <p class="expiry-time">June 18,2020</p>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="filter-container">
      <p class="title">Filter</p>
      <ul class="filter">
        <li *ngFor="let tag of tags">
          <input (change)="selectFilter($event, tag)" id="{{tag}}" type="checkbox">
          <label for="{{tag}}">{{tag}}</label>
        </li>
      </ul>
    </div>
  </div>
</main>
