 <header>
    <div class="container">
      <div class="info">
        <img class="vacancy-img" src="../../assets/vacancyLogo.svg" alt="">
        <div class="description">
          <p class="title">Junior UI designer for Spotify</p>
          <div class="vacancy-name">Spotify Incorporated</div>
        </div>
      </div>

      <div class="buttons">
        <span class="iconify" data-icon="ant-design:star-outlined" data-inline="false"></span>

        <button class="btn">Apply now</button>
      </div>
    </div>
  </header>

 <main>
  <div class="vacancy-description">
    <div class="head">

      <div class="head-info">
        <p class="title">SALARY</p>
        <p class="description">$50,000</p>
      </div>

      <div class="head-info">
        <p class="title">ACTIVE FOR</p>
        <p class="description">6th of October, 2020</p>
      </div>

      <div class="head-info">
        <p class="title">LOCATION</p>
        <p class="description">Warsaw, Poland</p>
      </div>
    </div>

    <div class="responsibilities">
      <p class="title">Your responsibilities:</p>

      <ul class="list">
        <li>
          <p>Implementation of new functionalities in mobile applications</p>
        </li>
        <li>
          <p>Work with existing code</p>
        </li>
        <li>
          <p>Care for the performance and stability of the application</p>
        </li>
        <li>
          <p>Cooperation with other teams</p>
        </li>
        <li>
          <p>Participation in the Code Review process</p>
        </li>
      </ul>
    </div>

    <div class="expectations">
      <p class="title">Our expectations:</p>

      <ul class="list">
        <li>
          <p>Implementation of new functionalities in mobile applications</p>
        </li>
        <li>
          <p>Work with existing code</p>
        </li>
        <li>
          <p>Care for the performance and stability of the application</p>
        </li>
        <li>
          <p>Cooperation with other teams</p>
        </li>
        <li>
          <p>Participation in the Code Review process</p>
        </li>
      </ul>
    </div>


  </div>
 </main>


