<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <input
    formControlName="title"
    placeholder="title"
    type="text"
  >
  <input
    formControlName="companyName"
    placeholder="companyName"
    type="text"
  >

  <div class="form-control">
    <input
      (blur)="toggleListDisplay(false, 'countries')"
      (focus)="toggleListDisplay(true, 'countries')"
      (input)="getFilteredList('countries')"
      [(ngModel)]="countriesInputItem"
      autocomplete="none"
      formControlName="country"
      id="country"
      placeholder="Country"
      type="text">
    <div *ngIf="!countriesListHidden && !countriesShowError" class="options">
      <div
        (click)="selectItem(i, true, 'countries')"
        (mouseenter)="selectItem(i, false, 'countries')"
        *ngFor="let item of countriesFilteredList;let i = index"
        class="item"
      >
        <p>{{item}}</p>
      </div>
    </div>

    <div *ngIf="!countriesListHidden && countriesShowError" class="options">
      <div class="error">
        <p>Not found</p>
      </div>
    </div>


  </div>
  <div class="form-control">
    <input
      (blur)="toggleListDisplay(false, 'cities')"
      (focus)="toggleListDisplay(true, 'cities')"
      (input)="getFilteredList('cities')"
      [(ngModel)]="citiesInputItem"
      autocomplete="none"
      formControlName="city"
      id="city"
      placeholder="City"
      type="text">
    <div *ngIf="!citiesListHidden && !citiesShowError" class="options">
      <div
        (click)="selectItem(i, true, 'cities')"
        (mouseenter)="selectItem(i,  false, 'cities')"
        *ngFor="let item of citiesFilteredList;let i = index"
        class="item"
      >
        <p>{{item}}</p>
      </div>
    </div>

    <div *ngIf="!citiesListHidden && citiesShowError" class="options">
      <div class="error">
        <p>Not found</p>
      </div>
    </div>

  </div>

  <input
    formControlName="expiryTime"
    placeholder="expiryTime"
    type="text"
  >
  <input
    formControlName="contractType"
    placeholder="contractType"
    type="text"
  >
  <input
    formControlName="workTime"
    placeholder="workTime"
    type="text"
  >
  <input
    formControlName="experience"
    placeholder="experience"
    type="text"
  >
  <input
    formControlName="description"
    placeholder="description"
    type="text"
  >
  <input
    formControlName="expectations"
    placeholder="expectations"
    type="text"
  >
  <input
    formControlName="responsibilities"
    placeholder="responsibilities"
    type="text"
  >
  <input
    formControlName="benefits"
    placeholder="benefits"
    type="text"
  >
  <input
    formControlName="salary"
    placeholder="salary"
    type="text"
  >
  <input
    formControlName="tags"
    placeholder="tags"
    type="text"
  >

  <input
    #fileInput
    (change)="onFileUpload($event)"
    type="file"
  >

  <img *ngIf="imagePreview" [src]="imagePreview" alt="Company picture">

  <button type="submit">Create</button>
</form>
