@import "../../variables";
@import "../../mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 45px;

  .star {
    position: absolute;

    .iconify {
      font-size: 40px;
      color: $bright-blue;
    }
  }
}
