<div class="container">
  <div class="head-container">
    <p class="title">{{title}}</p>
    <div *ngIf="!canShowInput" class="head">

      <button (click)="canShowInput = true" class="add-input" type="button">
        <span class="iconify" data-icon="bi:plus" data-inline="false"></span>
        Add
      </button>
    </div>
  </div>

  <div *ngIf="canShowInput" [formGroup]="parentFormGroup" [@addList] class="add">
    <div class="wrapper">
      <div class="form-control">
        <input
          [formControlName]="leftControlName"
          [id]="leftControlName"
          [placeholder]="leftControlTitle"
          type="text"
        >
        <label [for]="leftControlName" class="label-animate">{{leftControlTitle}}</label>
      </div>

      <div *ngIf="rightControlName !== 'languageLevel'; else dropdown" class="form-control">
        <input
          [formControlName]="rightControlName"
          [id]="rightControlName"
          [placeholder]="rightControlTitle"
          type="text"
        >
        <label [for]="rightControlName" class="label-animate">{{rightControlTitle}}</label>
      </div>

      <ng-template #dropdown>
        <div class="dropdown">
          <yk-drop-down-filter
            [allowFilter]="false"
            [autocomplete]="'off'"
            [controlName]="'languageLevel'"
            [dataArray]="languageLevelsArray"
            [parentFormGroup]="parentFormGroup"
            [title]="'Level'">
          </yk-drop-down-filter>
        </div>
      </ng-template>
    </div>

    <button (click)="saveToList()" class="add-btn">Add</button>
  </div>

  <ul class="list" [ngStyle]="{height: (130 * itemList.length) + 'px'}">
    <li *ngFor="let item of itemList; let idx = index" class="item" [@list]>
      <p class="left">{{item[leftControlName]}}</p>
      <p class="right">{{item[rightControlName]}}</p>
      <div (click)="deleteListItem(idx)" class="delete">
        <span class="iconify" data-icon="mi:delete-alt" data-inline="false"></span>
      </div>
    </li>
  </ul>
</div>
