<main>
  <div class="links-container">
    <a class="logo" routerLink="/">
      <img alt="logo" src="../../assets/logo.svg">
    </a>

    <div class="links">
      <a href="">Vacancies</a>
      <a href="">Create Vacancy</a>
      <a href="">Create CV</a>
    </div>
  </div>

  <div class="user-container">
    <a class="favorite" href="">
      <span class="iconify" data-icon="ant-design:star-outlined" data-inline="false"></span>
      <p class="count">22</p>
    </a>

    <a class="user" routerLink="/auth">
      <span class="iconify" data-icon="bi:person" data-inline="false"></span>
      <p class="username">Username</p>
    </a>
  </div>

</main>
